@import "resets.scss";
@import "normalizez.scss";

body {
    background-color: rgb(240, 193, 122);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        width: 100%;
        height: auto;
        text-align: center;
        transition: opacity 0.5s ease-in-out;
        img {
            width: auto;
            height: 100vh;
        }
    }
}

.btn {
    width: 50px;
    height: 100px;
    background: rgb(233, 182, 106);
    color: #000000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 3rem;
    border: 1px solid;
    transition: all .50s ease; 
}

.btn:hover {
    background: rgb(216, 169, 99);
    color: #111111;;
    box-shadow: #000000 0px 1px 25px;
    cursor: pointer;
}